@tailwind base;
@tailwind components;
@tailwind utilities;


/*SCROLLBARS*/

/* width */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    @apply bg-neutral-800 rounded-full
}

/* Handle */
::-webkit-scrollbar-thumb {
    @apply bg-neutral-700 rounded-full
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    @apply bg-neutral-600 cursor-pointer
}